.loaderv1-loader {
  /* --loaderv1-dim: 3rem; */
  --loaderv1-color: #333;

  width: var(--loaderv1-dim);
  height: var(--loaderv1-dim);
  position: relative;
  animation: loaderv1-spin988 2s linear infinite;
}

.loaderv1-loader .loaderv1-circle {
  /* --loaderv1-circle_dim: 1.2rem; */

  width: var(--loaderv1-circle_dim);
  height: var(--loaderv1-circle_dim);
  background-color: var(--loaderv1-color);
  border-radius: 50%;
  position: absolute;
}

.loaderv1-loader .loaderv1-circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loaderv1-loader .loaderv1-circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loaderv1-loader .loaderv1-circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loaderv1-loader .loaderv1-circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes loaderv1-spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}
