.buttonv2-btn {
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  color: #000;
  background-color: #00bd6c;
  text-decoration: none;
  transition: 0.25s;
  position: relative;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 2px solid #000;
}

.buttonv2-btn:hover {
  box-shadow: 5px 5px 0 #000;
  background: #00bd6c;
  transform: translateY(2px);
}

.buttonv2-btn:active {
  transform: translateY(4px);
}
