.buttonv1-btn {
  background: linear-gradient(100deg, #314ab6 0%, #00bd6c 100%);
  background-size: 150% auto;
  transition: 0.2s;

  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.buttonv1-btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.buttonv1-btn:active {
  background-position: left center; /* change the direction of the change here */
  transform: translateY(2px);
}
